*.obj
*.exe
*.pdb
*.ilk
generated.h
compile.log
__pycache__/
partition-generated.h
partition-common.h
partition-compile.log
traversal-generated.h
traversal-common.h
traversal-component.h
traversal-compile.log
